aside {
  display: flex;
  flex-direction: column;
    height: fit-content;
    border: 1px blue solid;
  
  }
  div.side-box {
    position: relative;
    flex: 1 1;
    display: grid;
    height: fit-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);
    margin: 30px 20px;
    border-radius: 15px;
  }
  div#side-box-content {
    display: flex;
  }
  div#side-box-content, div.side-box-content{
    margin-bottom: 15%;
  }
  div#side-box-picture {
    height: 100%;
    width: 20%;
    margin-right: 5px;
  }
  div#side-box-picture img {
    height: 70% ;
  }
  div#side-box-info {
    width: 80%;
    margin-top: 17px;
  }
  div#side-box-info span, span#Kontakt {
    color: #be0027;
    font-weight: bold;
    font-size: 17px;
  }
  div#side-box-info p {
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
  }
  button#rar {
    position: absolute;
    height: 35px;
    width: 78%;
    background-color: #be0027;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 7px;
    border-bottom-right-radius: 0px;
    font-size: 14px;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    cursor: pointer;
  }
  button#rar span {
    font-size: 18px;
  }
  img#Rezeption {
    height: 50px;
    width: auto;
    float: right;
  }
  span#Kontakt {
    color: #284528;
  }
  p#was {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0px;
  }
  p#ort {
    font-size: 14px;
    margin-top: 5px;
  }
  p#was,
  p#ort {
    line-height: 20px;

  }
  p#ort span {
    color: #699333;
  }

  @media  (min-width: 1201px ) and (max-width: 1399px){
    aside {
      height: fit-content;
      justify-content: end;
      border: 1px blue solid;
    }
    
  }
  
  @media  (min-width: 992px) and (max-width: 1200px) {
    aside {
      flex: 1;
      min-width: 250px;
      height: fit-content;
    }
    div.side-box {
      display: grid;
      height: fit-content;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);
      margin: 30px 20px;
      border-radius: 15px;
    }
    div#side-box-content {
      display: flex;
    }
    div#side-box-picture {
      height: 100%;
      width: 20%;
      margin-right: 5px;
    }
    div#side-box-picture img {
      width: 100%;
    }
    div#side-box-info {
      width: 80%;
      margin-top: 17px;
    }
    div#side-box-info span {
      color: #be0027;
      font-weight: bold;
      font-size: 17px;
    }
    div#side-box-info p {
      font-size: 12px;
      line-height: 20px;
      margin-right: 10px;
    }
    button#rar {
      position: relative;
      height: 35px;
      width: 78%;
      background-color: #be0027;
      color: white;
      font-weight: bold;
      margin-top: 5%;
      padding: 5px 10px;
      border: none;
      border-radius: 7px;
      border-bottom-right-radius: 0px;
      font-size: 12px;
      justify-self: end;
      cursor: pointer;
    }
    button#rar span {
      font-size: 18px;
    }
    img#Rezeption {
      height: 50px;
      width: auto;
      float: right;
    }
    span#Kontakt {
      font-weight: bold;
      font-size: 17px;
      color: #284528;
    }
    p#was {
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 0px;
    }
    p#ort {
      font-size: 11px;
      margin-top: 5px;
    }
    p#was,
    p#ort {
      line-height: 18px;
    }
    p#ort span {
      color: #699333;
    }
  }
  
  @media  (min-width: 768px) and (max-width: 991px) {
    aside {
      flex: 1;
      flex-direction: row;
    }
    div.side-box {
      display: grid;
      height: auto;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);
      margin: 30px 20px;
      border-radius: 15px;
    }
    div#side-box-content {
      display: flex;
    }

    div#side-box-picture {
      height: 100%;
      width: 20%;
      margin-right: 5px;
    }
    div#side-box-info {
      width: 80%;
      margin-top: 17px;
    }
   


  }
  
  @media  (min-width: 576px) and  (max-width: 768px){
    aside {
      flex: 1;
      flex-direction: row;
    }
    div.side-box {
      display: grid;
      height: auto;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);
      margin: 30px 20px;
      border-radius: 15px;
    }
    div#side-box-content {
      display: flex;
    }

    div#side-box-picture {
      height: 100%;
      width: 20%;
      margin-right: 5px;
    }
    div#side-box-info {
      width: 80%;
      margin-top: 17px;
    }
   
  }
  
  @media  (max-width: 576px){
    aside {
      flex: 1;
      min-width: 250px;
      height: fit-content;
    }
    div.side-box {
      display: grid;
      height: fit-content;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);
      margin: 30px 20px;
      border-radius: 15px;
    }
    div#side-box-content {
      display: flex;
    }
    div#side-box-content, div.side-box-content{
      margin-bottom: 1%;
    }
    div#side-box-picture {
      height: 100%;
      width: 20%;
      margin-right: 5px;
    }
    div#side-box-picture img {
      width: 100%;
    }
    div#side-box-info {
      width: 80%;
      margin-top: 17px;
    }
    div#side-box-info span {
      color: #be0027;
      font-weight: bold;
      font-size: 17px;
    }
    div#side-box-info p {
      font-size: 12px;
      line-height: 20px;
      margin-right: 10px;
    }
    button#rar {
      position: relative;
      height: 35px;
      width: 78%;
      background-color: #be0027;
      color: white;
      font-weight: bold;
      margin-top: 5%;
      padding: 5px 10px;
      border: none;
      border-radius: 7px;
      border-bottom-right-radius: 0px;
      font-size: 12px;
      justify-self: end;
      cursor: pointer;
    }
    button#rar span {
      font-size: 18px;
    }
    img#Rezeption {
      height: 50px;
      width: auto;
      float: right;
    }
    span#Kontakt {
      font-weight: bold;
      font-size: 17px;
      color: #284528;
    }
    p#was {
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 0px;
    }
    p#ort {
      font-size: 11px;
      margin-top: 5px;
    }
    p#was,
    p#ort {
      line-height: 18px;
    }
    p#ort span {
      color: #699333;
    }
  }