footer {
  width: 100%;
  border-top: 2px #8ab5c5 solid;
  margin-top: auto;
}
div#bottom-inner {
  max-width: 1400px;
  @media all and (max-width: 1400px) {
    max-width: 1200px
  }
  margin: 30px auto;
  display: flex;
  justify-content: space-between;

}
div#bottom-inner p {
  margin: 0px;
}
div.bottom-content {
  font-size: 12px;
  line-height: 20px;
  max-width: 360px;
}
div#Logos {
  display: flex;
  align-items: center;
}
