div#head {
  display: flex;
  height: 65px;
}
div#logo_box {
  position: absolute;
  height: 125px;
  top: 0;
  left: 50%;
  border-left: 200px white solid;
  border-bottom: 25px transparent solid;
  transform: translateX(-50%);
  z-index: 999;
}
div#logo_inner {
  position: absolute;
  width: 160px;
  height: 110%;
  transform: translateX(-113%);
}
#logo_img {
  display: block;
  margin: auto;
}
div#left {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}
div.left-icons {
  text-align: center;
  letter-spacing: -0.2px;
  font-size: 12px;
  margin-right: 20px;
  cursor: pointer;
  z-index: 6;
}
img.left-icons {
  height: 60%;
}
span.left-icons {
  display: block;
  font-weight: 600;
}
div.left-icons-hover {
  width: 70%;
  height: 100%;
  position: relative;
  margin: auto;
  top: -86%;
  border-radius: 250%;
  opacity: 0;
}
div.left-icons-hover:hover {
  opacity: 0.15;
}
div#cabrio {
  color: #699333;
}
div#cloud {
  color: #8ab5c5;
  cursor: default;
}
div#webcam {
  color: #cf7027;
}

div#right {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}
a.right-icons {
  margin-right: 10px;
  align-items: center;
  font-weight: bold;
  display: inherit;
  transition: all 200ms;
}
a.right-icons:hover {
  cursor: pointer;
  color: #699333;
}
a.right-icons img {
  height: 40px;
}

div#graphic {
  display: flex;
  position: relative;
  align-items: center;
  height: 450px;
}
img.graphic {
  height: 100%;
  object-fit: cover;
}

div#bilder-carousel{
  width: 100%;
  height: 100%;
}
div#yellow {
  position: absolute;
  width: 0px;
  height: 100px;
  bottom: 0;
  transform: translateY(100%);
  right: 20px;
  border-left: 230px #dbb622 solid;
  border-bottom: 40px transparent solid;
  cursor: pointer;
  z-index: 2;
  transition: all 200ms;
}
div#yellow:hover {
  border-left: 230px #c2a01a solid;
}
div#yellow-inner {
  display: flex;
  flex-direction: column;
  color: white;
  width: fit-content;
  position: absolute;
  left: -200px;
  top: 30%;
}
div#yellow-shop {
  width: fit-content;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}
div#yellow-shop::first-letter {
  font-size: 32px;
}
div#yellow-desc {
  width: fit-content;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.5px;
  word-spacing: -2px;
}

div#bottom {
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  height: 50px;
  width: 100%;
  border-bottom: #8ab5c5 3px solid;
  white-space: nowrap;
}
.arrow-up{
  background-image: url(/Bergbahn/Logos/Icons/arrow-top.svg) !important;
}
button#burger{
  display: none;
  background-color: transparent;
  border: none;
  width: 100px;
  height: 60px;
  z-index: 999999;
}
button#burger img{ 
  height: 50%;
}
div#bottom-text-outer-box{
  display: flex;
  flex: 1;
  max-width: 60%;
  justify-content: space-between;
}
button.bottom-text {
  position: relative;
  display: flex;
  font-weight: 800;
  align-items: center;
  margin-left: 15px;
  color: #284528;
  font-size: 25px;
  font-style: italic;
  justify-content: center;
  cursor: pointer;
  letter-spacing: -1px;
  transition: all 300ms;
  border: none;
  background-color: transparent;
  z-index: 5;
  
}
button.bottom-text:hover {
  color: rgb(0, 0, 0);
}
div.bottom-text-hover {
  display: flex;
  position: absolute;
  border-radius: 50px;
  top: -20;
  height: 70px;
  width: 70px;
  justify-content: center;
  transition: all 300ms;
  z-index: -5;
}
button.bottom-text:hover div.bottom-text-hover, .bottom-text-hover-toggle {
  background-color: rgba(179, 210, 52, 0.2);
}
div.bottom-text-hover-img {
  opacity: 0;
  transition: all 300ms;
  width: 27px;
  height: 27px;
  margin-top: 6px;
  z-index: -500;
}
button.bottom-text:hover div.bottom-text-hover-img {
  opacity: 1;
}
/* toggle in js  */
div.bottom-text-arrow {
  width: 50px;
  height: 1px;
  position: absolute;
  top: -110%;
  left: 51%;
  border-bottom: 38px transparent solid;
  border-left: 20px white solid;
  display: none;
  z-index: 999;

}
nav.info-overlay{
  height: fit-content;
  width: auto;
  bottom: 100px;
  left: 25px;
  position: absolute;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border: 2px white solid;
  background-color: white;
  padding: 30px;
  column-gap: 40px;
  padding-right: 3%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) ;
  z-index: 999;
  display: none;
}
div.info-overlay-X{
  position: absolute;
  width: 40px;
  height: 40px;
  right: 2px;
  top: 2px;
  cursor: pointer;
  z-index: 5;
}
div.info-overlay-X img{
  width: 80%;
  float: right;
}
img#info-overlay-sun{
  width: 85px;
  right: 5%;
  top: 0%;
  position: absolute;
}

div.info-overlay-info{
  width: 100%;
}
a.info-overlay-info-inside{
  height: fit-content;
  width: fit-content;
  min-width: 170px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 10px;
  margin-left: 15px;
  color: #284528;
  font-weight: bold;
  font-size: 14px;

  cursor: pointer;
}
a.info-overlay-info-inside-head{
  cursor: text;
  height: fit-content;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  color: #699333;
  line-height: 27px;

}
div.info-overlay-info-inside-con {
  position: absolute;
  border-radius: 50px;
  left: -25px;
  height: 40px;
  width: 40px;
  text-align: center;
  transition: all 300ms;
}
div.info-overlay-info-inside-con img{
  display: block;
  width: 50%;
  margin-top: 25%;
  opacity: 0;
  transition: all 300ms;
}
a.info-overlay-info-inside:hover div.info-overlay-info-inside-con {
  background-color: rgba(179, 210, 52, 0.2);
}

a.info-overlay-info-inside:hover div.info-overlay-info-inside-con img{
  opacity: 1;

}
div#bottom-links-outer{
  display: none;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  height: 80px;
}
a.bottom-links{
  width: 70px;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  background-color: #B3D234;

}
.BgC_dark{
  background-color: #699333 !important;
}

@media  (min-width: 992px) and (max-width: 1200px) {
  div#logo_box {
    border-left: 150px white solid;
  }
  div#logo_inner {
    width: 150px;
    transform: translateX(-100%);
  } 
  div#graphic {
    height: 410px;
  }
}

@media  (min-width: 768px) and (max-width: 991px) {
  div#head {
    height: 0px;
  }
  div#logo_box {
    border-left: 130px white solid;
  }
  div#logo_inner {
    width: 135px;
    transform: translateX(-98%);
  }
  div.left-icons {
    padding: 10px;
  }
  div#cabrio,
  div#cloud,
  div#webcam {
    height: 55px;
  }
  span.left-icons {
    display: block;
    font-weight: 600;
    font-size: 11px;
  }
  div#right {
    display: none;
  }
  div#graphic {
    height: 370px;
  }
  div#bottom {
    display: block;
    position: relative;
    margin-top: 0px;
    height: fit-content;
    width: 100%;
    border-bottom: #8ab5c5 2px solid;
  }
  button#burger{
    display: block;
  }
  div#bottom-text-outer-box{
    margin-top: 40px;
    max-width: 100%;
    padding: 0px 5px;
    display: none; 
  }
  button.bottom-text {
    display: block;
    width: 100%;
    height: 50px;
    text-align: left;
    font-weight: 800;
    margin: 10px 0px ;
    letter-spacing: -1px;
    padding-left: 30px;
    font-weight: 600;
    font-size: 23px;
    font-style: normal;
    color: #284528;
    cursor: pointer;
    transition: all 300ms;
    border-bottom: #284528 2px solid;
    background-color: transparent;
    /* Dropdown-Pfeil */
    background-image: url(/Bergbahn/Logos/Icons/arrow-bottom.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;

  }
  div.bottom-text-hover {
    display: flex;
    position: absolute;
    border-radius: 100%;
    top: 5;
    left: 0;
    height: 40px;
    width: 40px;
    justify-content: center;
    transition: all 300ms;
    z-index: -5;
  }
  div.bottom-text-hover-img {
    opacity: 0;
    transition: all 300ms;
    width: 27px;
    height: 27px;
    margin-right: 5px;
  }
  button.bottom-text:hover div.bottom-text-hover-img {
    opacity: 1;
  }
  /* toggle in js  */
  div.bottom-text-arrow {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 75%;
  left: 20px;
  transform: scaleY(-1) ;
  border-bottom: 38px transparent solid;
  border-left: 20px white solid;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.2));
  display: none;
  z-index: 999;
  }
  nav.info-overlay{
  height: fit-content;
  width: auto;
  bottom: 0px;
  left: 0px;
  position: relative;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border: 2px white solid;
  background-color: white;
  padding: 30px 3% 30px 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) ;
  z-index: 999;
  display: none;
  }
  div.info-overlay-X{
   display: none;
  }
  img#info-overlay-sun{
    width: 100px;
    top: 0%;
    right: 5%;
    position: absolute;
  }
  div.info-overlay-info{
    width: 70%;
  }
  div.info-overlay-info-inside-con {
   left: -30px;
  }
  div.info-overlay-info-inside-con img{
    width: 75%;
    margin-top: 10%
  }
  div#bottom-links-outer{
    display: flex;
  }
}

@media  (min-width: 576px) and  (max-width: 771px){
  div#head {
    height: 0px;
  }
  div#logo_box {
    border-left: 110px white solid;
    height: 100px;
  }
  div#logo_inner {
    width: 115px;
    transform: translateX(-98%);
  }
  div.left-icons {
    padding: 10px;
  }
  div#cabrio,
  div#cloud,
  div#webcam {
    height: 50px;
    width: 40px;
  }
  div#right {
    display: none;
  }
  div#graphic {
    height: 340px;
  }
  div#yellow {
    height: 90px;
    border-bottom: 30px transparent solid;
  }
  div#yellow-inner {
    top: 25%;
  }

  div#bottom {
    display: block;
    position: relative;
    margin-top: 0px;
    margin-bottom: 50px;
    height: fit-content;
    width: 100%;
    border-bottom: #8ab5c5 2px solid;
  }
  button#burger{
    display: block;
  }
  div#bottom-text-outer-box{
    margin-top: 40px;
    max-width: 100%;
    padding: 0px 5px;
    display: none; 
  }
  button.bottom-text {
    display: block;
    width: 100%;
    height: 50px;
    text-align: left;
    font-weight: 800;
    margin: 10px 0px ;
    letter-spacing: -1px;
    padding-left: 30px;
    font-weight: 600;
    font-size: 23px;
    font-style: normal;
    color: #284528;
    cursor: pointer;
    transition: all 300ms;
    border-bottom: #284528 2px solid;
    background-color: transparent;
    /* Dropdown-Pfeil */
    background-image: url(/Bergbahn/Logos/Icons/arrow-bottom.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;

  }
  div.bottom-text-hover {
    display: flex;
    position: absolute;
    border-radius: 100%;
    top: 5;
    left: 0;
    height: 40px;
    width: 40px;
    justify-content: center;
    transition: all 300ms;
    z-index: -5;
  }
  div.bottom-text-hover-img {
    opacity: 0;
    transition: all 300ms;
    width: 27px;
    height: 27px;
    margin-right: 5px;
  }
  button.bottom-text:hover div.bottom-text-hover-img {
    opacity: 1;
  }
  /* toggle in js  */
  div.bottom-text-arrow {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 75%;
  left: 20px;
  transform: scaleY(-1) ;
  border-bottom: 38px transparent solid;
  border-left: 20px white solid;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.2));
  display: none;
  z-index: 999;
  }
  nav.info-overlay{
  height: fit-content;
  width: auto;
  bottom: 0px;
  left: 0px;
  position: relative;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border: 2px white solid;
  background-color: white;
  padding: 30px 3% 30px 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) ;
  z-index: 999;
  display: none;
  }
  div.info-overlay-X{
   display: none;
  }
  img#info-overlay-sun{
    width: 100px;
    top: 0%;
    right: 5%;
    position: absolute;
  }
  div.info-overlay-info{
    width: 70%;
  }
  div.info-overlay-info-inside-con {
   left: -30px;
  }
  div.info-overlay-info-inside-con img{
    width: 75%;
    margin-top: 10%
  }
  div#bottom-links-outer{
    display: flex;
  }
}

@media  (max-width: 576px){
  div#head {
    display: none;
  }
  div#logo_box {
    border-left: 90px white solid;
    height: 80px;
  }
  div#logo_inner {
    width: 95px;
    transform: translateX(-98%);
  }
 div#right {
    display: none;
  }
  div#graphic {
    height: 310px;
  }
  div#prev, #next  {
    height: 100%;
    width: 50px !important;
  }
  img#standart{
    object-fit: cover;
  }
  .obj-p-center{
    object-position: center;
  }
  .obj-p-left{
    object-position: -40px ;
  }
  .obj-p-right{
    object-position: 70%;
  }
  div#yellow {
    height: 65px;
    border-left: 140px #dbb622 solid;
    border-bottom: 30px transparent solid;
  }
  div#yellow:hover {
    border-left: 140px #c2a01a solid;
  }
  div#yellow-inner {
    left: -107px;
  }
  div#yellow-shop {
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  div#yellow-shop::first-letter {
    font-size: 32px;
  }
  div#yellow-desc {
    display: none;
  }
  div#bottom {
    display: block;
    position: relative;
    margin-top: 0px;
    margin-bottom: 50px;
    height: fit-content;
    width: 100%;
    border-bottom: #8ab5c5 2px solid;
  }
  button#burger{
    display: block;
  }
  div#bottom-text-outer-box{
    margin-top: 40px;
    max-width: 100%;
    padding: 0px 5px;
    display: none; 
  }
  button.bottom-text {
    display: block;
    width: 100%;
    height: 50px;
    text-align: left;
    font-weight: 800;
    margin: 10px 0px ;
    letter-spacing: -1px;
    padding-left: 30px;
    font-weight: 600;
    font-size: 23px;
    font-style: normal;
    color: #284528;
    cursor: pointer;
    transition: all 300ms;
    border-bottom: #284528 2px solid;
    background-color: transparent;
    /* Dropdown-Pfeil */
    background-image: url(/Bergbahn/Logos/Icons/arrow-bottom.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;

  }
  div.bottom-text-hover {
    display: flex;
    position: absolute;
    border-radius: 100%;
    top: 5;
    left: 0;
    height: 40px;
    width: 40px;
    justify-content: center;
    transition: all 300ms;
    z-index: -5;
  }
  div.bottom-text-hover-img {
    opacity: 0;
    transition: all 300ms;
    width: 27px;
    height: 27px;
    margin-right: 5px;
  }
  button.bottom-text:hover div.bottom-text-hover-img {
    opacity: 1;
  }
  /* toggle in js  */
  div.bottom-text-arrow {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 75%;
  left: 20px;
  transform: scaleY(-1) ;
  border-bottom: 38px transparent solid;
  border-left: 20px white solid;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.2));
  display: none;
  z-index: 999;
  }
  nav.info-overlay{
  height: fit-content;
  width: auto;
  bottom: 0px;
  left: 0px;
  position: relative;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border: 2px white solid;
  background-color: white;
  padding: 30px 3% 30px 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) ;
  z-index: 999;
  display: none;
  }
  div.info-overlay-X{
   display: none;
  }
  img#info-overlay-sun{
    width: 100px;
    top: 0%;
    right: 5%;
    position: absolute;
  }
  div.info-overlay-info{
    width: 70%;
  }
  div.info-overlay-info-inside{
    max-width: 100%;
    margin-top: 15px;
  }
  div.info-overlay-info-inside{
    white-space: normal;
  }
  div.info-overlay-info-inside-con {
   left: -30px;
  }
  div.info-overlay-info-inside-con img{
    width: 75%;
    margin-top: 10%
  }
  div#bottom-links-outer{
    display: flex;
  }
}