main#page {
  display: flex;
}
main#information { 
  width: 70%;
  padding: 0px 20px;
  overflow: visible;
}
div#willkommen {
  margin-bottom: 30px;

}
h2 {
  color: #284528;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 0;
  font-style: italic;
}
p.text{
  max-width: 95%;
  line-height: 23px;
}
h3 {
  font-size: 23px;
  color: #699333;
  margin-top: 60px;
  margin-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  height: fit-content;
}
nav button {
  display: flex;
  align-items: center;
  height: 60px;
  flex: 1;
  max-width: 310px;
  flex-shrink: 0;


  font-size: 160%;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  background-color: #b3d2344b;
  letter-spacing: -2px;
  white-space: nowrap;
  color: #699333;
  padding-left: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.255);
  cursor: pointer;
  transition: all 200ms;
}
nav button:hover {
  background-color: #b3d23470;
}
nav button img {
  width: 22%;
  min-width: 40px;
  max-width: 65px;
  margin-right: 2%;
}

section.karten.slick-carousel{
  position: relative;
  height: fit-content;
  max-width: 1050px;
  margin: 30px auto; 
  display: flex;
}
div.karten.carousel-slider {
  width: 100%;
  
}
div.karten.carousel-slider .slick-track{
  height: 500px;
  overflow: hidden;
}

div.karten.carousel-boxes{
  display: block;
  height: 400px;
  width: 244.5;
  padding: 20px;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.255);
  margin: 0px 15px;
  background-color: white;
  z-index: 1;
/* linker hintergrund */
  opacity: 0.4;
  position: relative;
  top: 2px;
  right: -460px;
}
.karten.slick-current + .karten.slick-active + .karten.slick-slide {
 /* rechter hintergrund */
  right: 130px;
}
div.karten.carousel-boxes.slick-active{
  /*mitte*/
  opacity: 1;
  top: 40px;
  left: 0.47%;
  z-index: 2;
}
div#prev, #next  {
  height: 100%;
  width: 60px;
  cursor: pointer;
  border: none;
  z-index: 5;
  display: flex;
  align-items: center;
  position: absolute;
}

h4.carousel-boxes-top{
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  line-height: 27px;
  color: #284528;
  margin: 0px;
  height: 50px;
}
p.carousel-boxes-text{
  font-size: 13px;
  line-height: 20px;
  height: fit-content;
}
div.carousel-boxes-bottom{
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}
div.carousel-boxes-bottom-time{
  font-size: 10px;
  align-items: center;
  display: flex;
  white-space: nowrap;
}
div.carousel-boxes-bottom-amount{
  font-size: 10px;
  font-family: Arial;
  align-items: center;
  white-space: nowrap;
  display: flex;
}
img.box{
  width: 23px;
  margin-right: 5px;
}
span.informationen{
  font-size: 11px;
  font-weight: bold;
  font-family: Arial;
  color: #699333;
  position: absolute;
  right: 20;
  bottom: 20;
}

@media  (min-width: 1201px ) and (max-width: 1399px){
  
  div.karten.carousel-boxes{  
    width: 190px;
    margin: 0px 10px;
    /* linker Hintergrund */
    right: -430px !important;
  }
  .karten.slick-current + .karten.slick-active + .karten.slick-slide {
    /* rechter Hintergrund */
    right: 80px !important;
  }
  div.karten.carousel-boxes.slick-active{
    /* mitte */
    left: 0.50%;
  }
}

@media  (min-width: 992px) and (max-width: 1200px) {
  div.karten.carousel-boxes{
    margin: 0px 10px;
    /* linker Hintergrund */
    right: -420px;
  }
  .karten.slick-current + .karten.slick-active + .karten.slick-slide {
    /*rechter Hintergrund*/
    right: 80px;
  }
  div.karten.carousel-boxes.slick-active{
   /*mitte*/
    left: 0.5%;
    
  }
  h4.carousel-boxes-top{
    font-size: 19px;
  }
  div#prev, #next  {
    width: 50px;

  }
}

@media  (min-width: 771px) and (max-width: 991px) {
  main#page {
    flex-direction: column;
  }
  main#information{
   width: auto;
  }
  div.karten.carousel-slider .slick-track{
    height: 470px;
  }
  div.karten.carousel-boxes{
    margin: 0px 15px;
  /* linker hintergrund */
    right: -445px;
  }
  .karten.slick-current + .karten.slick-active + .karten.slick-slide {
   /* rechter hintergrund */
    right: 115px;
  }
  div.karten.carousel-boxes.slick-active{
    /* vordere */
    top: 20px;
     }
  h4.carousel-boxes-top{
    font-size: 19px;
  }
  div#prev, #next  {
    width: 50px;
  }
  
}

@media  (min-width: 576px) and  (max-width: 771px){
  main#page {
    flex-direction: column;
  }
  main#information {
    width: auto;
  }
  nav button {
    padding-left: 10px;
  }
  nav button img {
    width: 30%;
  }
  div.karten.carousel-boxes{
    margin: 0px 30px;
  /* linker hintergrund */
    right: -465px;
  }
  .karten.slick-current + .karten.slick-active + .karten.slick-slide {
   /* rechter hintergrund */
    right: 125px;
  }
  div.karten.carousel-boxes.slick-active{
    /* vordere */
    top: 20px;
  }
  .slick-list.draggable  .slick-track{
    left: 6.0% !important;
  }

  h4.carousel-boxes-top{
    font-size: 19px;
  }
  div#prev, #next  {
    width: 50px;
  }
}

@media  (max-width: 576px){
  main#page {
    flex-direction: column;
  }
  main#information {
      width: auto;
      padding: 0px 10px;
  }
  h2 {
    font-size: 30px;
  }
  nav {
    flex-direction: column;
    gap: 10px;
  }
  nav button {
    max-width: 100%;
    min-height: 70px;
  }

  nav button img {
    width: 17%;
  }
  
  section.karten.slick-carousel{
    position: relative;
    height: fit-content;
    flex: 1;
    max-width: 1050px;
    margin: 30px auto; 
    display: flex;
    align-items: center;
  
  }
  div.karten.carousel-slider {
    width: 100%;
    
  }
  div.karten.carousel-slider .slick-track{
    height: 500px;
    overflow: hidden;
  }
  
  div.karten.carousel-boxes{
    display: block;
    height: 400px;
    width: 220px;
    padding: 20px;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.255);
    margin: 0px 15px;
    background-color: white;
    z-index: 1;
  /* linker hintergrund */
    opacity: 0.4;
    position: relative;
    top: 2px;
    right: -165px;
  }
  .karten.slick-current + .karten.slick-active + .karten.slick-slide {
   /* rechter hintergrund */
    right: -150px;
  }
  div.karten.carousel-boxes.slick-active{
    opacity: 1;
    top: 40px;
    position: relative;
    left: 0.47%;
    z-index: 2;
  }
  div#prev, #next  {
    height: 100%;
    width: 60px;
    cursor: pointer;
    border: none;
    z-index: 5;
    display: flex;
    align-items: center;
    position: absolute;
  }
  
  h4.carousel-boxes-top{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    line-height: 27px;
    color: #284528;
    margin: 0px;
    height: 50px;
  }
  p.carousel-boxes-text{
    font-size: 13px;
    font-family: Arial;
    line-height: 20px;
    height: fit-content;
  }
  div.carousel-boxes-bottom{
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
  }
  div.carousel-boxes-bottom-amount{
    font-size: 10px;
    font-family: Arial;
    align-items: center;
    white-space: nowrap;
    display: flex;
  }
  img.box{
    width: 23px;
    margin-right: 5px;
  }
  span.informationen{
    font-size: 11px;
    font-weight: bold;
    font-family: Arial;
    color: #699333;
    position: absolute;
    right: 20;
    bottom: 20;
  }
}